/* parceiros.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  scroll-behavior: smooth;
}

.nav {
  background-color: #000000;
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #4CAF50;
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  padding-right: 420px;
  margin-left: auto;
  gap: 8rem;
}

.nav-item {
  margin: 0 2rem;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #4CAF50;
}

.parceiros-content {
  padding: 5rem 3rem;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.parceiros-content h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #222;
}

.parceiros-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.parceiro-item {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.parceiro-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 4px solid #4CAF50;
}

.parceiro-item h3 {
  padding: 1.5rem 1rem 0.5rem 1rem;
  font-size: 1.7rem;
  color: #333;
}

/* Link styles */
.parceiro-item a {
  padding: 0 1.5rem 1.5rem 1.5rem;
  font-size: 1rem;
  color: #4CAF50;
  text-decoration: none;
  display: block;
}


.parceiro-item a:visited {
  color: #4CAF50; /* Define a mesma cor para links padrão e visitados */
  text-decoration: none; /* Remove sublinhado */
}

.parceiro-item a:hover {
  text-decoration: underline;
}

.parceiro-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.footer {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 4px solid #4CAF50;
  box-sizing: border-box;
}
